# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Build output
dist
build
out
.next
.nuxt

# Testing
coverage
test-results

# Environment variables
.env
.env.local
.env.development
.env.test

# Keep production env templates
!.env.production
!client/.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Debug
.chrome 